__pycache__/
*.py[cod]

# macOS / editor junk
.DS_Store
.vscode/

.pytest_cache/
.mypy_cache/

data/


artifacts/*.csv
artifacts/alphabet.json
!artifacts/.gitkeep

checkpoints/*
!checkpoints/.gitkeep

/background
/assets

# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
